@import url('https://fonts.googleapis.com/css2?family=Agbalumo&display=swap');

:root {
    --main-text-color: black;
    --submain-text-color: #656565;

    --font-size-large: 1.2em;
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Agbalumo', serif;
    font-weight: 100;
}

html {
    font-size: calc(10px + 0.390625vw);
}

body {
    overflow-x: hidden;
}

li {
    list-style-type: none;
}

li:first-child {
    margin-left: 0px !important;
} 

a {
    color: var(--main-text-color);
    text-decoration: none;
    cursor:pointer;
}

header {
    height: 110vh;
    background: url("images/rakesh-sitnoor-_hz8MkLukqU-unsplash.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

main {
    margin-top: 100px;
}

.text-uppercase {
    text-transform: uppercase;
}

.choose-page {
    color:#6c7ae0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header-top {
    padding: 15px;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (min-width: 517px) {
    .header-bar__navigation-mobile {
        display: none;
    }
}

@media (max-width: 517px) {
    .header-bar__navigation {
        display: none;
    }

    .header-bar__navigation-mobile {
         display: flex;
         justify-content: center;
    }

    .header-bar__navigation-mobile li {
        display: inline;
        margin-left: 40px;
    }
}

.logo {
    display: flex;
    align-items: center;
}

.logo__icon {
    width: calc(2vw + 5vh);
    aspect-ratio: 1;
}

.logo__name {
    width: 50px;
    margin-left: 1vw;
}

.header-bar__navigation li {
    display: inline;
    margin-left: 40px;
}

.header-bar__navigation ul li a:hover {
    transition: .5s;
    color: var(--submain-text-color);
}

.header-bar__account_buttons_list li {
    display: inline;
    margin-left: 15px;
}

.header-bar__account_buttons_list button {
    width: 20px;
    height: 20px;
    border: none;
    cursor: pointer;
    background-color: transparent;
}

.header__content {
    display: flex;
    align-items: center;
    height: 70vh;
}

.header__title {
    color: var(--main-text-color);
    margin-left: 5vw;
    font-size: 1.5rem;
    padding: 15px;
    letter-spacing: 10px;
    font-style: Italic;
    text-decoration: underline;
    text-transform: full-size-kana;
}

.warranty__icon {
    min-width: none;
    width: calc(2vw + 2vh);
    aspect-ratio: 1;
}

.main__warranties-list {
    display: flex;
    justify-content: space-between;
    padding: .7vw;
}

@media (max-width: 768px) {
    .main__warranties-list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 1vh;
        grid-template-rows: 1fr 1fr;
        row-gap: 1vw;
    }
}

.warranty {
    display: flex;
    align-items: center;
}

@media (max-width: 768px) {
    .warranty {
        display: flex;
        justify-content: center;
    }
}

.main__products_title {
    margin: auto;
}

.warranty__text {
    margin-left: 10px;
}   

.warranty__main_text {
    font-size: 1.2rem;
}

.warranty__sub_text {
    color: var(--submain-text-color);
}

.main__presentation {
    margin-top: 70px;
    display: grid;
    grid-template-columns: .75fr 1fr;
    grid-column-gap: 3vw;
}

@media (max-width: 768px) {
    .main__presentation {
        display: block;
        margin-top: 70px;
    }
}

.presentation__photo {
    width: 90%;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    padding: 5%;
    background-size: cover;
}

@media (max-width: 768px) {
    .main__presentation {
        margin-top: 70px;
    }

    #first_presentation__photo {
        display: none;
    }
}

.presentation__description {
    display: grid;
    grid-template-rows: 1fr 0.1fr .5fr;
}

.description__title {
    padding: 10px;
    font-size: 1.5rem;
    text-align: center;
    word-spacing: 15px;
    text-transform: capitalize;
}

.description__text {
    color: var(--submain-text-color);
    text-indent: 50px;
    line-height: 35px;
    text-align: center;
    padding: 1vh;
}

.main__products_title {
    display: flex;
    justify-content: center;
}

@media (max-width: 1024px) {
    .main__products_title {
        display: none;
    }

    footer table {
        display: none;
    }    
}

table {
    display: grid;
    border-collapse: collapse;
    min-width: 100%;
    grid-template-columns: 
      minmax(150px, 1fr)
      minmax(150px, 1.67fr)
      minmax(150px, 1.67fr)
      minmax(150px, 1.67fr)
      minmax(150px, 3.33fr)
      minmax(150px, 1.67fr)
  }
  
  thead,
  tbody,
  tr {
    display: contents;
  }
  
  th,
  td {
    padding: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  
  th {
    position: sticky;
    top: 0;
    background: #6c7ae0;
    text-align: left;
    font-weight: normal;
    font-size: 1.1rem;
    color: white;
  }
  
  th:last-child {
    border: 0;
  }
  
  .resize-handle {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background: black;
    opacity: 0;
    width: 3px;
    cursor: col-resize;
  }
  
  .resize-handle:hover,
  .header--being-resized .resize-handle {
    opacity: 0.5;
  }
  
  th:hover .resize-handle {
    opacity: 0.3;
  }
  
  td {
    padding-top: 10px;
    padding-bottom: 10px;
    color: #808080;
  }
  
  tr:nth-child(even) td {
    background: #f8f6ff;
  }

  .button__footer {
    padding: 1vh;
  }

  footer {
    text-align: center;
  }